#############
## Kholloscope
#############

data/*
!data/sample.csv
!data/vac_scol.csv
__untyped__
bower_components
node_modules
/kholloscope.*
bin/
obj/
web.config

#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
