<!-- Insertion du contenu dans le schema 'base.html' -->
% rebase base title='Khôlles de '+name, head=dict(tle='Khôlles de '+name, dsc='Retrouvez vos dates et salles de khôlles.')
<form class="row">
    <div class="col-md-5">
        <select autofocus name="grp" class="form-control input-lg" onchange="this.form.submit()">
            <option value="">Sélectionner un groupe</option>
            % for k, item in enumerate(kholles[0]):
            % if str(k) == group:
            <option value="{{ k }}" selected>Groupe {{ item }}</option>
            % else:
            <option value="{{ k }}">Groupe {{ item }}</option>
            % end
            % end
        </select>
    </div>
</form>
<hr />
<table class="table table-striped table-hover table-responsive visible-md visible-lg">
    <thead>
        <tr>
            % for item in kholles[1]:
            <th>{{ item }}</th>
            % end
        </tr>
    </thead>
    <tbody>
        % for row in kholles[2:]:
        <tr>
            % for item in row:
            <td>{{ item }}</td>
            % end
        </tr>
        % end
    </tbody>
</table>