<!-- Insertion du contenu dans le schema 'base.html' -->
% rebase base title='Khôlles de '+name, head=dict(tle='Khôlles de '+name, dsc='Retrouvez vos dates et salles de khôlles.')
<form class="row">
    <div class="col-md-5">
        <select autofocus name="grp" class="form-control input-lg" onchange="this.form.submit()">
            <option value="">Sélectionner un groupe</option>
            % for k, item in enumerate(kholles[0]):
            % if str(k) == group:
            <option value="{{ k }}" selected>Groupe {{ item }}</option>
            % else:
            <option value="{{ k }}">Groupe {{ item }}</option>
            % end
            % end
        </select>
    </div>
</form>
<hr />
<table class="table table-striped table-hover table-responsive" style="table-layout: fixed !important;">
    <thead>
        <tr>
            % for item in kholles[1]:
            <th>{{ item }}</th>
            % end
        </tr>
    </thead>
    <tbody>
        % for row in kholles[2:]:
        <tr>
            % for item in row:
            <td>{{ item }}</td>
            % end
        </tr>
        % end
    </tbody>
</table>
<div class="visible-xs visible-sm">
    % if defined('rang') and rang:
    % for k in range(data['max']):
    % if kholles[(6*k)+2][rang]:
    <div class="panel panel-{{ data['color'][k % len(data['color'])] }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ kholles[(6*k)+2][rang] }}</h3>
        </div>
        % if defined('kholles[(6*k)+6][rang]') and kholles[(6*k)+7][rang]:
        <div class="panel-body alert-{{ data['color'][k % len(data['color'])] }}">
            {{ kholles[(6*k)+7][rang] }}
        </div>
        % end
        <ul class="list-group">
            % for i, c in enumerate(data['cells']):
            <li class="list-group-item">
                <span class="badge">{{ c }}</span>
                % if i == 1:
                {{ data['days'][int(kholles[(6*k)+3+i][rang])] }}
                % else:
                {{ kholles[(6*k)+3+i][rang] }}
                % end
            </li>
            % end
        </ul>
    </div>
    {{ rang }}
    % end
    % end
    % else:
    <div class="alert alert-warning">Sélectionner un groupe pour continuer.</div>
    % end
</div>
